@page "/report-pcb"
@using AntDesign
@inject IJSRuntime JS
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Shared.SemiReport
<PageTitle>PcbReport</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
            background: transparent !important;
        }



        .custom-label {
            background-color: #007bff;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
        }

            .custom-label:hover {
                background-color: #0056b3;
            }
    </style>
    <div style="display: flex;  align-items: center; margin-bottom: 10px;">

        <!-- #region Search -->
        <Input Placeholder="PcbCode" Value="@PcbCode" style="margin-left:2px;width:190px;font-size:12px" @onkeydown="HandleKeyDown" @oninput="PcbCodeInputChanged" />
        <Input Placeholder="IntermediateCode" Value="@IntermediateCode" style="margin-left:2px;width:190px;font-size:12px" @onkeydown="HandleKeyDown" @oninput="IntermediateCodeInputChanged" />
        <button @onclick="Search" style="margin-left:5px;border-color:#fff"><Icon Type="search" /> Search</button>
        <button @onclick="Reset" style="margin-left:5px;border-color:#fff"><Icon Type="undo" /> Reset</button>
        <button @onclick="ExportExcel" style="margin-left:5px;border-color:#fff"><Icon Type="file-excel" /> Export Excel</button>
    </div>
    <!-- #endregion -->

</div>
<script>
    window.saveAsFileRoll = async function (filename, bytesBase64) {
        const byteCharacters = atob(bytesBase64);
        const byteNumbers = new Array(byteCharacters.length);
        for (let i = 0; i < byteCharacters.length; i++) {
            byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        const byteArray = new Uint8Array(byteNumbers);
        const blob = new Blob([byteArray], {
            type: "application/vnd.ms-excel"
        });

        const link = document.createElement('a');
        link.href = URL.createObjectURL(blob);
        link.download = filename;
        link.click();
        URL.revokeObjectURL(link.href);
    }

</script>
<div style="width:100%;overflow-x:scroll ;max-height:70vh; ">
    <Table TItem="PcbReportDto"
           @ref="_tableRef"
           Size="TableSize.Small"
           Bordered
           Class="customTable fix-table-header"
           DataSource="@_pcbFilter">
        <ColumnDefinitions Context="row">
            <PropertyColumn Width="150px" HeaderStyle="text-align: center;" Title="IntermediateCode" Property="c => c.IntermediateCode"></PropertyColumn>
            <PropertyColumn Width="150px" HeaderStyle="text-align: center;" Sortable Title="ScanTime" Format="yyyy/MM/dd HH:mm:ss" Property="c => c.ScanTime"></PropertyColumn>
            <PropertyColumn Width="250px" HeaderStyle="text-align: center;" Title="PcbCode" Property="c => c.PcbCode"></PropertyColumn>
        </ColumnDefinitions>
    </Table>
</div> 