@using AquaSolution.Client.Common.GetInitial_helpers
@using AquaSolution.Client.Modals.Administration.Users
@inject IJSRuntime JS
@inject GetInitial GetInitials
<div class="user-dropdown-container">
    <div class="user-dropdown" id="userDropdown">
        <div class="user-dropdown-toggle d-flex align-items-center gap-2">
            @* Thay thẻ <img> cũ bằng đoạn này *@
                @if (!string.IsNullOrWhiteSpace(userDto?.Avatar))
                {
                    <img src="@userDto.Avatar"
                         alt="Avatar"
                         class="avatar-img" />
                }
                else
                {
                    <div class="avatar-initials">
                        @GetInitials.GetInitials(userDto?.FullName)
                    </div>
                }
            <span class="text-dark">@userDto?.FullName</span>
        </div>
        <div class="user-dropdown-menu">
            <a @onclick="DetailMyAccount"><i class="fa fa-user me-1"></i> My profile</a>
            <a @onclick="ChangePassWord"><i class="fa fa-key me-1"></i> Change Password</a>
            <a @onclick="Logout"><i class="fa fa-sign-out me-1"></i> Logout</a>
        </div>
    </div>
</div>
<UserDetailModal @ref="@userDetailModal"></UserDetailModal>
<ChangePassModal @ref="@changePassModal"></ChangePassModal>

<style>
    .avatar-initials {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #1677ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 500;
    border: 1px solid #ccc;
    flex-shrink: 0;
}
    .user-dropdown-container {
        position: fixed;
        margin-top: -5px;
        top:10px;
        right: 20px;
        z-index: 999;
    }

    .avatar-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #ccc;
    }

    .user-dropdown {
        position: relative;
        display: inline-block;
    }

    .user-dropdown-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px 12px;
    }
    .user-dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        border-radius: 4px;
        z-index: 1000;
        min-width: 160px;
        margin-top: 4px;
        background: #cbefc7;
    }

    .user-dropdown.open .user-dropdown-menu {
        display: block;
    }

    .user-dropdown-menu a {
        display: block;
        padding: 8px 16px;
        color: #333;
        text-decoration: none;
        font-size: 14px;
    }

        .user-dropdown-menu a:hover {
            background-color: #d1dfcf;
        }
</style>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("setupUserDropdown");
        }
    }

    
}
