@page "/product-management"
@using AquaSolution.Client.Components.ManageMedicalRooms.Products
@using AquaSolution.Client.Components.Administration.Users
@using AntDesign
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Shared.ManageMedicalRooms.Products
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Product</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }
        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
             background: transparent !important; 
        }

    </style>
    @if (Created)
    {
        <button @onclick="CreatedAsync" class="btn btn-primary custom-button-type">
            <Icon Type="plus" />Created
        </button>
    }
</div>
<div style="width:100%;overflow-x:scroll ;max-height:70vh; ">
    <Table TItem="ProductDto"
           Size="TableSize.Small"
           Class="customTable fix-table-header"
           DataSource="_products">
        <ColumnDefinitions Context="row">
            <PropertyColumn Title="Code" Property="c => c.Code"></PropertyColumn>
            <PropertyColumn Title="Name" Property="c => c.Name"></PropertyColumn>
            <PropertyColumn Title="Unit" Property="c => c.Unit"></PropertyColumn>
            <PropertyColumn Title="ProductType" Property="c => c.ProductType"></PropertyColumn>
            <PropertyColumn Title="Note" Property="c => c.Note"></PropertyColumn>
            <PropertyColumn Title="IsHide" Property="c => c.IsHide"></PropertyColumn>

            <Column Fixed="ColumnFixPlacement.Right" TData="ProductDto" Width="50px" Title="Action" Context="row">
                <Template>
                    <Popover Title="Actions" Trigger="new Trigger[] { Trigger.Click }" Placement="Placement.Bottom">
                        <ChildContent>
                            <Button Icon="menu" />
                        </ChildContent>
                        <ContentTemplate>
                            <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">

                                @if (Edited)
                                {

                                    <Button Type="ButtonType.Text" OnClick="@(async () => await EditAsync(row))" Style="text-align: left;">
                                        <Icon Type="plus" /> Edit
                                    </Button>
                                }
                                @if (Deleted)
                                {
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await DeleteAsync(row))" Style="text-align: left;">
                                        <Icon Type="delete" /> Delete
                                    </Button>
                                }

                            </div>
                        </ContentTemplate>
                    </Popover>
                </Template>
            </Column>
        </ColumnDefinitions>
    </Table>
</div>
<ProductModal OnSave="LoadData" @ref="@ProductModal"></ProductModal> 