@page "/factory-management"
@using AquaSolution.Client.Components.Factory
@using AquaSolution.Client.Components.Users
@using AntDesign
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Shared.Factory
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Factory</PageTitle>
<div class="user-management-container">
    <div class="mb-3">
        <style>
            .custom-button-type {
                height: 30px;
                font-size: 12px;
            }
        </style>
        <button @onclick="CreatedFactory" class="btn btn-primary custom-button-type">
            <Icon Type="plus" />Created Factory
        </button>
    </div>
    <div style="width:100%;overflow-x:scroll ;max-height:75vh; ">
        <Table TItem="FactoryDto"
               Size="TableSize.Small"
               Class="customTable fix-table-header"
               DataSource="ListFactory">
            <ColumnDefinitions Context="row">
                <PropertyColumn Title="Code" Property="c => c.Code"></PropertyColumn>
                <PropertyColumn Title="Name" Property="c => c.Name"></PropertyColumn>
                <PropertyColumn Title="Description" Property="c => c.Description"></PropertyColumn>
                <PropertyColumn Title="FactoryType" Property="c => c.FactoryType"></PropertyColumn>

                <PropertyColumn Title="Note" Property="c => c.Note"></PropertyColumn>
                <Column Fixed="ColumnFixPlacement.Right" TData="FactoryDto" Width="50px" Title="Action" Context="row">
                    <Template>
                        <Popover Title="Actions" Trigger="new Trigger[] { Trigger.Click }" Placement="Placement.Bottom">
                            <ChildContent>
                                <Button Icon="menu" />
                            </ChildContent>
                            <ContentTemplate>
                                <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await EditFactory(row))" Style="text-align: left;">
                                        <Icon Type="plus" /> Edit
                                    </Button>
                                    <Button Type="ButtonType.Text" OnClick="@(async () => await DeleteAsync(row))" Style="text-align: left;">
                                        <Icon Type="delete" /> Delete
                                    </Button>
                                </div>
                            </ContentTemplate>
                        </Popover>
                    </Template>
                </Column>
            </ColumnDefinitions>
        </Table>
    </div>
</div>
 <FactoryModal OnSave="LoadDataAsync" @ref="@factoryModal"></FactoryModal> 