@page "/menu-management"
@inject HttpClient HttpClient
@using AquaSolution.Client.Modals.Administration
@using AquaSolution.Shared.Pages
@using AntDesign
<PageTitle>Menus - Pages</PageTitle>
    <div class="mb-3">
        <style>
            .custom-button-type {
                height: 30px;
                font-size: 12px;
            }
        </style>
        <button @onclick="CreatedMenu" class="btn btn-primary custom-button-type">
            <Icon Type="plus" />Created Menu
        </button>


    </div>
    <div style="width:100%;overflow-x:scroll ;max-height:70vh;">
        <Collapse>
            @foreach (var menu in Menus)
            {
                <Panel Header="@menu.Name" Key="@menu.Id.ToString()">
                    <button class="btn btn-primary custom-button-type" @onclick="@(async () => await CreatedPage(menu))"> 
                        <i class="fas fa-plus"></i>Created Pages</button>
                    <Table TItem="PageDto" DataSource="@menu.Pages" HidePagination Size="TableSize.Small">
                        <ChildContent Context="p">
                            <PropertyColumn Title="PageName" Width="250" Property="c => c.Name"></PropertyColumn>
                            <PropertyColumn Title="URL" Width="300" Property="c => c.Url"></PropertyColumn>
                            <PropertyColumn Title="Permission" Width="auto" Property="c => c.JoinPermissions"></PropertyColumn>
                        </ChildContent>
                    </Table>
                </Panel>
            }
        </Collapse>
    </div>
<CreatedMenuModal OnSave="LoadMenu" @ref="createdMenuModal"></CreatedMenuModal>
<CreatedPagesModal OnSave="LoadMenu" @ref="createdPagesModal"></CreatedPagesModal>