@page "/position-management"
@using AquaSolution.Client.Modals.Administration.Position
@using AntDesign
@inject ModalService Modal
@inject IMessageService Message
@using AquaSolution.Shared.Position
<PageTitle>Position</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
             background: transparent !important; 
        }

    </style>
    <button @onclick="CreatedPosition" class="btn btn-primary custom-button-type">
        <Icon Type="plus" />Created
    </button>
</div>
<div style="width:99%;overflow-x:scroll ;max-height:70vh; ">
    <Table TItem="PositionDto"
           Size="TableSize.Small"
           Class="customTable fix-table-header"
           DataSource="_listPosition">
        <ColumnDefinitions Context="row">
            <PropertyColumn Title="Code" Property="c => c.Code"></PropertyColumn>
            <PropertyColumn Title="Name" Property="c => c.Name"></PropertyColumn>
            <PropertyColumn Title="Description" Property="c => c.Description"></PropertyColumn>
            <PropertyColumn Title="PositionType" Property="c => c.PositionType"></PropertyColumn>

            <PropertyColumn Title="Note" Property="c => c.Note"></PropertyColumn>
            <Column Fixed="ColumnFixPlacement.Right" TData="PositionDto" Width="50px"  Context="row">
                <Template>
                    <Popover Title="Actions" Trigger="new Trigger[] { Trigger.Click }" Placement="Placement.Bottom">
                        <ChildContent>
                            <Button Icon="menu" />
                        </ChildContent>
                        <ContentTemplate>
                            <div style="display: flex; flex-direction: column; gap: 4px; padding: 8px;">
                                <Button Type="ButtonType.Text" OnClick="@(async () => await EditPosition(row))" Style="text-align: left;">
                                    <Icon Type="plus" /> Edit
                                </Button>
                                <Button Type="ButtonType.Text" OnClick="@(async () => await DeleteAsync(row))" Style="text-align: left;">
                                    <Icon Type="delete" /> Delete
                                </Button>
                            </div>
                        </ContentTemplate>
                    </Popover>
                </Template>
            </Column>
        </ColumnDefinitions>
    </Table>
</div>
<PositionModal OnSave="LoadDataAsync" @ref="@_positionModal"></PositionModal> 