@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject NavigationManager NavigationManager
@inject IWebAssemblyHostEnvironment webHostEnvironment
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<h1>Greetings from Aqua</h1>
@code {
    protected override void OnInitialized()
    {
        if (NavigationManager.Uri == "/")
        {
            NavigationManager.NavigateTo(webHostEnvironment.BaseAddress);
        }
        base.OnInitialized();
    }
}