@page "/inventory-management"
@using AquaSolution.Client.Components.ManageMedicalRooms.Products
@using AquaSolution.Client.Components.ManageMedicalRooms.WarehouseImports
@using AquaSolution.Client.Components.Users
@using AntDesign
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Shared.ManageMedicalRooms.Inventories
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Inventory</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            width: max-content;
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
            width: 173vh !important;
        }

        .ant-table-cell {
            text-align: center !important;
        }

        .ant-table-row {
            text-align: center;
        }
    </style>
    <button @onclick="ImportWarehouse" class="btn btn-primary custom-button-type">
        <Icon Type="plus" />ImportWarehouse
    </button>
    <button @onclick="ExportWarehouse" class="btn btn-primary custom-button-type">
        <Icon Type="plus" />ExportWarehouse
    </button>

</div>
<div style="width:100%;overflow-x:scroll ;max-height:75vh; ">
    <Table TItem="InventoryDto"
           Size="TableSize.Small"
           Class="customTable fix-table-header"
           DataSource="_listInventory">
        <ColumnDefinitions Context="row">
            <PropertyColumn Width="150" Title="ProductCode" Property="c => c.ProductCode"></PropertyColumn>
            <PropertyColumn Width="250" Title="ProductName" Property="c => c.ProductName"></PropertyColumn>
            <PropertyColumn Width="80" Title="Unit" Property="c => c.Unit"></PropertyColumn>
            <PropertyColumn Width="180" Title="ProductType" Property="c => c.ProductType"></PropertyColumn>
            <PropertyColumn Width="100" Title="QuanTity" Property="c => c.Quantity"></PropertyColumn>
            <PropertyColumn Width="80" Title="ManufacturingDate" Property="c => c.ManufacturingDate" Format="yyyy/MM/dd"></PropertyColumn>
            <PropertyColumn Width="80" Title="ExpirationDate" Property="c => c.ExpirationDate" Format="yyyy/MM/dd"></PropertyColumn>
            <PropertyColumn Width="80" Title="expired" Property="c => c.expired"></PropertyColumn>
        </ColumnDefinitions>
    </Table>
</div>
<WarehouseImportModal OnSaved="LoadDataAsync" @ref="@_warehouseImportModal"></WarehouseImportModal> 