@page "/inventory-management"
@using AquaSolution.Client.Modals.ManageMedicalRooms.Products
@using AquaSolution.Client.Modals.ManageMedicalRooms.ReportInventory
@using AquaSolution.Client.Modals.ManageMedicalRooms.WarehouseExports
@using AquaSolution.Client.Modals.ManageMedicalRooms.WarehouseImports
@using AquaSolution.Client.Modals.Administration.Users
@using AntDesign
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Shared.ManageMedicalRooms.Inventories
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Inventory</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
             background: transparent !important; 
        }

        .ant-table-content {
            min-height: 65vh !important;
        }
    </style>

    <button @onclick="ExportReportMonth" class="btn btn-primary custom-button-type">
        <Icon Type="plus" />Xuất Báo Cáo
    </button>
    <Input Placeholder="Tên Thuốc" Value="@ProductName" style="margin-left:2px;width:190px;font-size:12px" @onkeydown="HandleKeyDown" @oninput="ProductNameChange" />
    <button @onclick="Search" style="margin-left:5px;border-color:#fff"><Icon Type="search" />Search</button>
    <button @onclick="Reset" style="margin-left:5px;border-color:#fff"><Icon Type="undo" />Reset</button>
</div>
<div style="width:99%;overflow-x:scroll ;max-height:70vh; ">
    <Table TItem="InventoryDto"
           Size="TableSize.Small"
           @ref="tableRef"
           Class="customTable fix-table-header"
           DataSource="_listInventoryFilter">
        <ColumnDefinitions Context="row">
            <PropertyColumn Width="150" Title="Mã Thuốc" Property="c => c.ProductCode"></PropertyColumn>
            <PropertyColumn Width="250" Title="Tên Thuốc" Property="c => c.ProductName"></PropertyColumn>
            <PropertyColumn Width="80" Title="ĐVT" Property="c => c.Unit"></PropertyColumn>
            <PropertyColumn Width="180" Title="Loại" Property="c => c.ProductType"></PropertyColumn>
            <PropertyColumn Width="100" Title="Số Lượng" Property="c => c.QuantityFormatted"></PropertyColumn>
            <PropertyColumn Width="80" Title="Ngày SX" Property="c => c.ManufacturingDate" Format="yyyy/MM/dd"></PropertyColumn>
            <PropertyColumn Width="80" Title="HSD" Property="c => c.ExpirationDate" Format="yyyy/MM/dd"></PropertyColumn>
            <PropertyColumn Width="80" Title="Hêt Hạn" Property="c => c.expired"></PropertyColumn>
        </ColumnDefinitions>
    </Table>
</div>
<ReportInventoryModal @ref="reportInventoryModal"></ReportInventoryModal>
