@page "/index-weight"
@using AquaSolution.Client.Common
@using AquaSolution.Client.Components.Administration.Users
@using AntDesign
@inject IJSRuntime JS
@inject ModalService modal
@inject NavigationManager Navigation
@inject IMessageService Message
@using AquaSolution.Client.Components.KPI.KPITask
@using AquaSolution.Client.Components.KPI.QuaterCalculated
@using AquaSolution.Shared.KPI.IndexWeight
@using AquaSolution.Shared.KPI.QuaterCalculated
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject PermissionService permissionService
<PageTitle>KPI-Task</PageTitle>
<div class="mb-3">
    <style>
        .custom-button-type {
            height: 30px;
            font-size: 12px;
        }

        .fix-table-header table {
            border-collapse: collapse;
        }

            .fix-table-header table thead th {
                position: sticky !important;
                z-index: 8 !important;
                top: 0;
                background-color: #fff;
            }

        .ant-table-content {
            min-height: 65vh !important;
        }

        .ant-table-pagination {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background: white;
            padding: 8px;
            text-align: center;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
            background: transparent !important;
        }



        .custom-label {
            background-color: #007bff;
            color: white;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
        }

            .custom-label:hover {
                background-color: #0056b3;
            }
    </style>
@*     <div style="display: flex;  align-items: center; margin-bottom: 10px;">
        <button @onclick="CreatedAsync" class="btn btn-primary custom-button-type">
            <Icon Type="plus" />Created
        </button>
    </div> *@
    <!-- #endregion -->

</div>
<div style="width:100%;overflow-x:scroll ;max-height:70vh; ">
    <Collapse>
        @foreach (var group in ListPositionType)
        {
            <Panel Header="@($"{group.ToString()}")">
                <button class="btn btn-primary custom-button-type" @onclick="@(async () => await CreatedAsync(group))">
                    <i class="fas fa-plus"></i>Created Pages
                </button>
                <Table TItem="IndexWeightDto" DataSource="DataSource" HidePagination Size="TableSize.Small">
                    <ChildContent Context="p">
                        <PropertyColumn Title="Name" Width="250" Property="c => c.Name"></PropertyColumn>
                        <PropertyColumn Title="Weight" Width="300" Property="c => c.Weight"></PropertyColumn>
                        <PropertyColumn Title="PeriodType" Width="auto" Property="c => c.PeriodType"></PropertyColumn>
                        <PropertyColumn Title="KPIIndexType" Width="auto" Property="c => c.KPIIndexType"></PropertyColumn>
                    </ChildContent>
                </Table>
            </Panel>
           
        }
    </Collapse>
</div>
@* <QuaterCalculatedModal @ref="quaterCalculatedModal" OnSave="LoadData"></QuaterCalculatedModal> *@